.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    width: 100%;
    background: #f5f5f5;
}



.book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .book-cover {
    height: 128px;
    margin: 10px auto;

}

.book-details {
    text-align: left;
} */

.cart {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.cart-item-image {
    height: 64px;
    width: 64px;
    object-fit: cover;
}

/* .cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comment-book-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
} */

.burger-menu-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;

}

.burger-menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.burger-menu-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.dishes-container {
    padding: 20px;
}

.dish-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 20px;
}

.dish-image {
    height: 128px;
    width: 128px;
    object-fit: cover;
}

.dish {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.dish-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-container input {
    display: none;
}

.rating-container label {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: filter 0.2s;
}

.rating-container label .star-shape {
    width: 100%;
    height: 100%;
    stroke: gold;
    fill: gold;
    stroke-width: 2;
    transition: filter 0.2s;
}



.rating-container label:hover {
    transform: scale(1.2);
}


.rating-container input:checked+label~label .star-shape {
    fill: transparent;
    stroke: gold;
}

button.add-to-cart {
    width: 40px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button.add-to-cart:hover {
    background-color: #45a049;
}

button.add-to-cart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button.add-to-cart:disabled:hover {
    background-color: #ccc;
}

#deckel-gruppe {
    transform-origin: 100px 50px;
    /* Drehpunkt */
    transition: transform 0.3s ease;
}

#muelleimer-gruppe:hover #deckel-gruppe {
    transform: translateX(18px) translateY(-30px) rotate(15deg);
}

.bin-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.categories {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px 20px 10px 20px;
    background: #ffffff;
}

.category {
    padding: 10px;
    background: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}

.category-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.category-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-dishes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-link {
    display: inline-block;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: background 0.3s ease;
}

.category-link:hover {
    background: #e0e0e0;
}

.main-content-top-zero {
    padding-top: 0px;
}

.quantity-control {
    display: flex;
    
}

.quantity-btn {
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.plus-btn {
    border-radius: 0 5px 5px 0;
}

.minus-btn {
    border-radius: 5px 0 0 5px;
}

.quantity-btn:hover {
    background-color: #45a049;
}

.amount-container {
    display: flex;
    align-items: center;

}

input[name="item-quantity"] {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

input[name="item-quantity"]::-webkit-inner-spin-button,
input[name="item-quantity"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.banner-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.banner {
    position: relative;
}

.banner-logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 140px;
    left: calc(50% - 50px);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner-text {
    max-width: calc(50% - 40px);
}

.cart-checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 1260px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .cart {
        width: 100%;
        position: absolute;
    }

    .dish-container {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .cart {
        width: 100%;
    }

    .dish-container {
        width: 100%;
    }
}