.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    padding: 20px;
    width: 100%;
    background: #f5f5f5;
}



.book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-cover {
    height: 128px;
    margin: 10px auto;

}

.book-details {
    text-align: left;
}

.cart {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.cart-item-image {
    height: 64px;
    width: auto;
}

/* .cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comment-book-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
} */

.burger-menu-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;

}

.burger-menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.burger-menu-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-menu-icon.active span:nth-child(2) {
    opacity: 0;
}
.burger-menu-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.dish-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dish-image {
    height: 128px;
    width: 128px;
    object-fit: cover;
}

.dish {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.dish-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-container input {
    display: none; 
}

.rating-container label {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: filter 0.2s;
}

.rating-container label img {
    width: 100%;
    height: 100%;
    
    transition: filter 0.2s;
}

.rating-container label .star-shape {
    stroke: gold;
    transition: filter 0.2s;
}

.rating-container input[type="radio"]:checked + label img.rating-star,
.rating-container input[type="radio"]:checked ~ label img.rating-star {
    
}

.rating-container input[type="radio"]:checked + label img.rating-star {
    filter: grayscale(0%) brightness(1);
}


button.add-to-cart {
    width: 40px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button.add-to-cart:hover {
    background-color: #45a049;
}

button.add-to-cart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
button.add-to-cart:disabled:hover {
    background-color: #ccc;
}